<footer>
    <div class="footer-nav">
        <a href="/views/privacypolicy.ejs">Copyright</a>
        <a href="/views/privacypolicy.ejs">Terms of Service</a>
        <a href="/views/privacypolicy.ejs">Privacy Policy</a>
    </div>
</footer>