<footer>
    <div class="footer-nav">
        <a href="/privacypolicy">Copyright</a>
        <a href="/privacypolicy">Terms of Service</a>
        <a href="/privacypolicy">Privacy Policy</a>
    </div>
</footer>