<nav class="navBar">
    <div class="logo"><a href="/"><img src="/images/A_small_cup_of_coffee.JPG" alt="coffee cup"></a></div>
    <div class="nav">
        <a class="navButton" href="/">Home</a>
        <a class="navButton" href="/aboutUs">About Us</a>
        <a class="navButton" id="pricing-btn" href="#">Pricing</a>
        <a class="navButton" href="#search">Search</a>
        <a class="navButton" href="/FAQs">FAQ</a>
        <a class="navButton" href="/contact">Contact</a>
        <% if (user) { %>
            <!-- Show Profile Link Based on accountType -->
            <% if (accountType === 'learner') { %>
                <a class="navButton" href="/profile">My Profile</a>
            <% } else if (accountType === 'teacher') { %>
                <a class="navButton" href="/inprofile">Instructor Profile</a>
            <% } %>
            <!-- Show Logout Button -->
            <a class="navButton" href="/logout">Logout</a>
        <% } else { %>
            <!-- If not logged in, show login link -->
            <a class="navButton" href="/login">Login</a>
        <% } %>
    </div>
</nav>
