<nav class="navBar">
    <div class="logo"><a href="/views/home.ejs"><img src="/images/A_small_cup_of_coffee.JPG" alt="coffee cup"></a></div>
    <div class="nav">
        <a class="navButton" href="/views/home.ejs">Home</a>
        <a class="navButton" href="/views/aboutUs.ejs">About Us</a>
        <a class="navButton" href="#">Pricing</a>
        <a class="navButton" href="#search">Search</a>
        <a class="navButton" href="/views/FAQs.ejs">FAQ</a>
        <a class="navButton" href="/views/contact.ejs">Contact</a>
        <a class="navButton" href="/views/profile.ejs">My Account</a>
    </div>
</nav>