<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <title>About Us</title>
</head>

<body>
    <!--Display navigation bar-->
    <%- include("partials/navbar.ejs") %>

    <!-- Search Modal -->
    <div class="modal_search" id="search">
        <a href="#" class="close_search"></a>
        <div class="search_body">
            <input class="search_button" type="text" placeholder="Search" name="search">
        </div>
    </div>

    <main>
        <div class="intro">
            <h1>About Us</h1>
            <p>Our group consists of four members, and we are from RMIT University. This project was created to help beginners approach programming more easily.</p>
            <p>We welcome everyone to join us as both instructors and learners.</p>
            <h2>Meet the Co-founders</h2>
        </div>

        <!-- Member Profiles Section -->
        <section class="members">
            <div class="member" id="member1">
                <a href="#modal1">
                    <img src="/images/hieu.jpg" alt="Hieu's image">
                    <h3>Dang Trung Hieu</h3>
                    <h4>s3911594</h4>
                </a>
            </div>
            <div class="member" id="member2">
                <a href="#modal2">
                    <img src="/images/dat.jpg" alt="Dat's image">
                    <h3>Nguyen Thanh Dat</h3>
                    <h4>s3830318</h4>
                </a>
            </div>
            <div class="member" id="hung">
                <a href="#modalHung">
                    <img src="/images/hung.jpg" alt="Hung's image">
                    <h3>Quan Hung</h3>
                    <h4>s3980813</h4>
                </a>
            </div>
            <div class="member" id="member3">
                <a href="#modal3">
                    <img src="/images/khang.jpg" alt="Khang's image">
                    <h3>Truong Pham Vinh Khang</h3>
                    <h4>s3966150</h4>
                </a>
            </div>
        </section>

        <!-- Modal Windows -->
        <div class="modal" id="modal1">
            <div class="modal-content">
                <a href="#" class="modal-close">&times;</a>
                <h3>Member #1</h3>
                <p>Details about Member #1.</p>
            </div>
        </div>
        <div class="modal" id="modal2">
            <div class="modal-content">
                <a href="#" class="modal-close">&times;</a>
                <h3>Nguyen Thanh Dat</h3>
                <p>Age: 24</p>
                <p>Career: IT</p>
                <p>I want to create a website to help people consum their dream become master in IT  by their own ways.</p>
            </div>
        </div>
        <div class="modal" id="modalHung">
            <div class="modal-content">
                <a href="#" class="modal-close">&times;</a>
                <h3>Quan Hung</h3>
                <p>Age: 22</p>
                <p>Career: IT</p>
                <p>I want to create a website to help beginners improve their coding skills and help them define their future path in programming.</p>
            </div>
        </div>
        <div class="modal" id="modal3">
            <div class="modal-content">
                <a href="#" class="modal-close">&times;</a>
                <h3>Truong Pham Vinh Khang</h3>
                <p>Age: 22</p>
                <p>Career: IT</p>
                <p>I love building a website to help beginners gaining their knowledges and skills about coding and support them in their IT career</p>
            </div>
        </div>
    </main>

    <!-- Display footer -->
    <%- include("partials/footer.ejs") %>
</body>

</html>
