<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copyright</title>
    <link rel="stylesheet" href="/css/privacypolicy.css">
</head>

<body>
    <!-- NavBar Partial -->
    <%- include('partials/navbar') %>

    <div class="container">
        <h1>Copyright Notice</h1>
        <h2>Introduction</h2>
        <p>
            All content on this website, including text, graphics, images, and software, is the property of CourseMaster
            and is protected by international copyright laws. Unauthorized use, reproduction, or distribution of this
            content is strictly prohibited.
        </p>

        <h2>1. Ownership</h2>
        <p>
            All intellectual property rights in the website and its contents are owned by CourseMaster. This includes, but
            is not limited to, all content, design elements, graphics, images, and software used in this website.
        </p>

        <h2>2. Restrictions</h2>
        <p>
            You may not copy, modify, reproduce, upload, post, transmit, or distribute any part of this website in any form
            or by any means without prior written permission from CourseMaster.
        </p>

        <h2>3. Limited License</h2>
        <p>
            You are granted a limited, non-exclusive, non-transferable license to access and use the website and its
            content for personal, non-commercial purposes only. This license does not allow you to modify or create
            derivative works of the content in any way.
        </p>

        <h2>4. Reporting Copyright Infringements</h2>
        <p>
            If you believe that any content on this website infringes your copyright, please contact us at
            CourseMaster.work@gmail.com with details of the alleged infringement.
        </p>

        <h2>5. Changes to This Notice</h2>
        <p>
            We reserve the right to update or modify this copyright notice at any time. Any changes will be posted on this
            page with an updated effective date.
        </p>

        <h2>Contact Us</h2>
        <p>
            If you have any questions or concerns about this copyright notice, please contact us at:
        </p>
        <p>Email: CourseMaster.work@gmail.com</p>
        <p>Address: 702 Nguyen Van Linh, Tan Hung, District 7, HCM City 700000</p>
        <p>Phone Number: 0283557786</p>
    </div>

    <!-- Footer Partial -->
    <%- include('partials/footer') %>
</body>

</html>
