<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/FAQ.css">
    <title>Document</title>
</head>

<body>
    <!-- display navigation bar -->
    <%- include("partials/navbar.ejs") %>

        <main class="accordion">
            <section>
                <h2 class="faq">FAQ</h2>
                <details class="decor">
                    <summary class="decdetail">Payment Method</summary>
                    <div>
                        <p class="accordion_para">Bank Transfer</p>
                        <p class="accordion_para">Account name: Web Edu VN Company</p>
                        <p class="accordion_para">Account number: xxx xxx xxxxxxxx</p>
                        <p class="accordion_para">Address: 123 cau sai gon 13 ward, distric 13, HCMC</p>
                    </div>
                </details>
                <details class="decor">
                    <summary class="decdetail">How to connect Lecture?</summary>
                    <div>
                        <p class="accordion_para">Email: teachername@webedu.com</p>
                        <p class="accordion_para">Account name: Web Edu VN Company</p>
                        <p class="accordion_para">Account number: xxx xxx xxxxxxxx</p>
                        <p class="accordion_para">Address: 123 cau sai gon 13 ward, distric 13, HCMC</p>
                    </div>
                </details>
                <details class="decor">
                    <summary class="decdetail">How many student in one class?</summary>
                    <div>
                        <p class="accordion_para">Back Transfer</p>
                        <p class="accordion_para">Account name: Web Edu VN Company</p>
                        <p class="accordion_para">Account number: xxx xxx xxxxxxxx</p>
                        <p class="accordion_para">Address: 123 cau sai gon 13 ward, distric 13, HCMC</p>
                    </div>
                </details>
                <details class="decor">
                    <summary class="decdetail">What i need to prepair before class?</summary>
                    <div>
                        <p class="accordion_para">Back Transfer</p>
                        <p class="accordion_para">Account name: Web Edu VN Company</p>
                        <p class="accordion_para">Account number: xxx xxx xxxxxxxx</p>
                        <p class="accordion_para">Address: 123 cau sai gon 13 ward, distric 13, HCMC</p>
                    </div>
                </details>
                <details class="decor">
                    <summary class="decdetail">We are study online or offline?</summary>
                    <div>
                        <p class="accordion_para">Back Transfer</p>
                        <p class="accordion_para">Account name: Web Edu VN Company</p>
                        <p class="accordion_para">Account number: xxx xxx xxxxxxxx</p>
                        <p class="accordion_para">Address: 123 cau sai gon 13 ward, distric 13, HCMC</p>
                    </div>
                </details>
                <details class="decor">
                    <summary class="decdetail">Do the school provide computer?</summary>
                    <div>
                        <p class="accordion_para">Back Transfer</p>
                        <p class="accordion_para">Account name: Web Edu VN Company</p>
                        <p class="accordion_para">Account number: xxx xxx xxxxxxxx</p>
                        <p class="accordion_para">Address: 123 cau sai gon 13 ward, distric 13, HCMC</p>
                    </div>
                </details>
            </section>
        </main>
        <!-- Display footer section -->
        <%- include("partials/footer.ejs") %>


</body>

</html>


</body>

</html>