<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <!-- NavBar Partial -->

    <div class="container" id="container">
        <!-- Login form -->
        <div class="form-container log-in">
            <% if (typeof error !== 'undefined') { %>
                <div class="error-message">
                    <%= error %>
                </div>
            <% } %>

            <form id="sign_in" action="/login" method="POST">
                <h1>Log In</h1>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <div class="email error"></div>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <div class="password error"></div>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="accountType" value="learner" required> Learner
                    </label>
                    <label>
                        <input type="radio" name="accountType" value="teacher" required> Instructor
                    </label>
                </div>
                <button type="submit">Log In</button>
                <div class="links">
                    <a href="#">Forget Your Password?</a>
                    <a href="/signup">Create an Account</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer Partial -->
    <% include('partials/footer') %>

    <script src="public/JS/login.js"></script>
</body>

</html>
