*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    background: linear-gradient(29deg, #1b5ac3, #df5aa5);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}

.logo a img{
    width:70px;
    height:70px;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 74px;
}

.nav{
    display: flex;
    height:100%;
    align-items: center;
}


.navButton{
    padding: 22px 28px;
    display: block;
    height: 100%;
}

.navButton{
    text-decoration: none;
}

.navButton:hover{
    background-color: rgba(0,0,0,0.5);
}

/* Search Modal */
/* nav{
    position:relative;
} */
#search{
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:10;
    display: none;
}


#search{
    background-color: rgba(0,0,0,0.5);;
}
#search:target{
    display: flex;
}

.search_button{
    display:block;
    border-radius: 15px;
    position:relative;
    border-style: none;
    padding:10px;
    width:100%;
}

.close_search{
    position:absolute;
    height:100%;
    width: 100%;
    cursor: default;
}

.search_body{
    width:20%;
}

@media(max-width:800px){
    .navBar{
        flex-direction: column;
        width: 100%;
        height: auto; 
    }
    .nav{
        flex-direction: column;
        width: 100%;
        height: auto; 
    }
    .navButton{
        width: 100%;
        text-align: center;
    }

    
}


/* main code part */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* main code part */
img{
    width: 200px;
    height:300px
}
section{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 10px;

}

section a{
    text-align: center;
    text-decoration: none;
}
.modal{
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display:none;
    opacity: 0;
    transition: opacity linear 0.2s;

}
.overlay{
    background-color: rgba(0,0,0,0.5);
}

.overlay-close{
    position: absolute;
    width:100%;
    height: 100%;
    cursor: default
}
.modal:target{
    display: flex;
    opacity: 1;
}

.modal-body{
    padding: 20px;
    max-width: 400px;
    max-height: 500px;
    position: relative;
    background-color: azure;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* main code part end*/

.intro{
    margin-top: 10px;
    text-align: center;
}


@media(max-width: 800px){
    section{
        flex-direction: column;
    }
    section a{
        display: flex;
        margin-top: 10px;
    }
    a h1{
        display: flex;
        margin-left: 5px;
        align-items: center;
    }
}

