* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navBar {
    background: linear-gradient(29deg, #1b5ac3, #df5aa5);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

body {
    background-color: #FFD0D0;
}


@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 24%
    }

    50% {
        background-position: 100% 77%
    }

    100% {
        background-position: 0% 24%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 24%
    }

    50% {
        background-position: 100% 77%
    }

    100% {
        background-position: 0% 24%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 24%
    }

    50% {
        background-position: 100% 77%
    }

    100% {
        background-position: 0% 24%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 24%
    }

    50% {
        background-position: 100% 77%
    }

    100% {
        background-position: 0% 24%
    }
}


.logo a img {
    width: 70px;
    height: 70px;
}


.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 74px;
}


.nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.navButton {
    padding: 22px 28px;
    display: block;
    height: 100%;
}


.navButton {
    text-decoration: none;
}


.navButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Search Modal */
nav {
    position: relative;
}

#search {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

#search {
    background-color: rgba(0, 0, 0, 0.5);
    ;
}

#search:target {
    display: flex;
}


.search_button {
    display: block;
    border-radius: 15px;
    position: relative;
    border-style: none;
    padding: 10px;
    width: 100%;
}

.close_search {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: default;
}


.search_body {
    width: 20%;
}

/* main content section  */
.PageTitle {
    margin: 10px 0;
}

.PageTitle h1 {
    position: relative;
    left: 30px;
    margin-bottom: 10px;
    color: white;
}

.PageTitle hr {
    color: white;
    border: 1px solid white;
}

#InstructorName {
    font-size: 25px;
}

#Role {
    font-style: italic;
    font-size: 15px;
}

.mainContent {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}

.ProfileSection {
    padding: 0;
    margin: 10px 25px;
    margin-right: 100px;
}

.ProfileSection img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 10px;
}

.addCourseForm {
    font-weight: bold;
}

form label {
    font-size: large;
}

#courseName {
    margin: 10px 0;
}

#Price {
    margin: 10px 0;
}

#coursePicture {
    margin: 10px 0;
}

#Description {
    margin: 10px 0;
}

form button {
    width: 150px;
    height: 25px;
    border-radius: 50px;
    background-color: lightslategray;
    color: white;
}

form button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dollarSign {
    border: 1px inset white;
}

.dollarSign input {
    border: 0;
}

/* Footer Styling */
footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    background: linear-gradient(29deg, #1b5ac3, #df5aa5);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

.footer-nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}