*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    background: linear-gradient(29deg, #1b5ac3, #df5aa5);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}

.logo a img{
    width:70px;
    height:70px;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 74px;
}

.nav{
    display: flex;
    height:100%;
    align-items: center;
}


.navButton{
    padding: 22px 28px;
    display: block;
    height: 100%;
}

.navButton{
    text-decoration: none;
}

.navButton:hover{
    background-color: rgba(0,0,0,0.5);
}

/* Search Modal */
/* nav{
    position:relative;
} */
#search{
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:10;
    display: none;
}


#search{
    background-color: rgba(0,0,0,0.5);;
}
#search:target{
    display: flex;
}

.search_button{
    display:block;
    border-radius: 15px;
    position:relative;
    border-style: none;
    padding:10px;
    width:100%;
}

.close_search{
    position:absolute;
    height:100%;
    width: 100%;
    cursor: default;
}

.search_body{
    width:20%;
}

@media(max-width:800px){
    .navBar{
        flex-direction: column;
        width: 100%;
        height: auto; 
    }
    .nav{
        flex-direction: column;
        width: 100%;
        height: auto; 
    }
    .navButton{
        width: 100%;
        text-align: center;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }

    
}
/* navbar end */

.Lecture h2{
    text-align: center;
    padding:10px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.lecInfo {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('character.jpg');
    background-size: 200px 300px;
}

.info {
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white; 
    border-radius: 8px;
}
.Lecture{
    padding-bottom: 20px;
}
.Lecture:nth-child(1){
    background-color: rgb(255, 127, 80);
}
.Lecture:nth-child(2){
    background-color: green;
}

/* footer */
footer img{
    width: 200px;
    height: 200px;
}

footer{
    background-color: rgb(60, 60, 60);
    display: flex;
    height:300px;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.footerInfo{
    display: flex;
}

.footerInfo a{
    text-decoration: none;
    color:white;
    padding:20px;
}

@media(max-width:800px){
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:auto;
    }
    .footerInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

