body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(29deg, #1b5ac3, #df5aa5);
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

.container {
    width: 404px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10px;  /* Ensures spacing between button and links */
}

button[type="submit"]:hover {
    background-color: #218838;
}

.links {
    margin-top: 10px;  /* Adjust the space between button and links */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    text-decoration: underline;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

button[type="submit"]:focus,
a:focus {
    outline: 2px solid #0056b3;
    outline-offset: 2px;
}
