<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home page</title>
</head>

<body>
    <!--Display navigation bar-->
    <%- include("partials/navbar.ejs", {title: "Order Placement" }) %>
        <!-- End NavBar -->

        <!-- Search Modal -->
        <div class="modal_search" id="search">
            <a href="#" class="close_search"></a>
            <div class="search_body">
                <input class="search_button" type="text" placeholder="Search" name="search">
            </div>
        </div>

        <main>
            <!-- New Lecture -->
            <section class="Lecture">
                <h2>New Lecture</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Nguyen Manh Khang</h3>
                            </a>
                            <p>Experience:Cyber security, Database</p>
                            <p>He has a big amount of experience work digital banking field, 
                                he will responsible for the Cybersecurity course and Database Course
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Machine Learning, AI</p>
                            <p>
                                He has worked for a lot of machine learning and AI project, 
                                he will responsible for Machine Learning course
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- feature Lecture -->
            <section class="Lecture">
                <h2>Featured Lecture</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Gia Hung</h3>
                            </a>
                            <p>Experience: Java, flutter</p>
                            <p>
                                He is an expert in developing android and app software. He will responsible for software design structure.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Thai Van Thinh</h3>
                            </a>
                            <p>Experience: UI, UX</p>
                            <p>
                                He has take part in a lot of project and he has a large amount of experience in UI, UX.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Ngo Gia Phat</h3>
                            </a>
                            <p>Experience: Automation test</p>
                            <p>
                                Ensure the project work well, we need an experience tester who can handle well with manual test and Automation tet.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- featured course -->
            <section class="Lecture">
                <h2>Feature course</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Cybersecurity</h3>
                            </a>
                            <p>
                                Understand how the security system work as well as using the tool to protect the server.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Automation tester</h3>
                            </a>
                            <p>
                                This course guide you to create a test software to test the production software as well as studying unit testing.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>UI/UX</h3>
                            </a>
                            <p>
                                The learner will get acquainted with figma, canvas and some UI/UX tool
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- new course -->
            <section class="Lecture">
                <h2>New Course</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>AI</h3>
                            </a>
                            <p>
                                This course guide student to use the retrain A.I models as well as learning about machine learning 
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Python</h3>
                            </a>
                            <p>
                                To start with programming, python is the good programming language for learner to study.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Microbit</h3>
                            </a>
                            <p>
                                This is the first step to contact with IoT. This course will support student to create an microbit project.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Display footer -->
        <%- include("partials/footer.ejs") %>

</body>

</html>
