<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home page</title>
</head>

<body>
    <!--Display navigation bar-->
    <%- include("partials/navbar.ejs", {title: "Order Placement" }) %>
        <!-- End NavBar -->

        <!-- Search Modal -->
        <div class="modal_search" id="search">
            <a href="#" class="close_search"></a>
            <div class="search_body">
                <input class="search_button" type="text" placeholder="Search" name="search">
            </div>
        </div>

        <main>
            <!-- New Lecture -->
            <section class="Lecture">
                <h2>New Lecture</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.

                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- feature Lecture -->
            <section class="Lecture">
                <h2>Featured Lecture</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.

                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- featured course -->
            <section class="Lecture">
                <h2>Feature course</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.

                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- new course -->
            <section class="Lecture">
                <h2>New Course</h2>
                <div class="container">
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.

                            </p>
                        </div>
                    </div>
                    <div class="lecInfo">
                        <div class="info">
                            <a href="#">
                                <h3>Tran Manh Hung</h3>
                            </a>
                            <p>Experience: Java, Python, AI, Web Developer</p>
                            <p>He has work in software developing company for many years, he has a big amount of Java
                                and
                                Web developing knowledge.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Display footer -->
        <%- include("partials/footer.ejs") %>

</body>

</html>