<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>

<body>
    <!-- NavBar Partial -->
    <% include('partials/navbar') %>

    <div class="container" id="container">
        <!-- Login form -->
        <div class="form-container log-in">
            <form id="sign_in">
                <h1>Log In</h1>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <div class="email error"></div>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <div class="password error"></div>
                <a href="#">Forget Your Password?</a>
                <button type="submit">Log In</button>
            </form>
        </div>
    <!-- Footer Partial -->
    <% include('partials/footer') %>

            <script src="login.js"></script>
</body>

</html>
